.flex{display:flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
     }

.head{background-color: black;}

.model{text-align: center;
      background-color: black;}
.film{text-align: center;
      background-color: black;}
.carr{background-color: black;
      text-align: center;}
body{height: 100%;
      background-color: black;}
.gate{border-radius: 6px;
      width:500px}


    

.parent {margin: 0% auto;
      width: 200px;
      height: 200px;
      overflow: hidden;
      /* Magic */
      display: flex;
      align-items: center; /* vertical */
      justify-content: center; /* horizontal */
  }

